@use '../../scss/variables.scss' as vars;

.contact {
  padding: 30px;
  background-color: vars.$card-background;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: vars.$text-color-dark;
  }

  p {
    font-size: vars.$font-size-base;
    color: vars.$text-color-medium;
    margin-bottom: 0.75rem;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
