@use '../../scss/variables.scss' as vars;

.footer {
  background-color: vars.$footer-bg;
  color: vars.$footer-text;
  text-align: center;
  padding: 2rem;

  .footer-links {
    display: flex;
    justify-content: center; // centrado
    margin: 1rem auto;
    
    a {
      width: 4%;
      color: #fff;
      font-size: 1.5rem;
      margin: 0; // eliminar márgenes individuales
      transition: color 0.3s;

      &:hover {
        color: vars.$secondary-color;
      }
    }
  }

  .footer-legal {
    margin-top: 1rem;

    a {
      color: #aaa;
      margin: 0 0.3rem;
      font-size: 0.9rem;

      &:hover {
        color: #fff;
      }
    }
  }
}
