@use '../../scss/variables.scss' as vars;

.footer {
  background-color: vars.$footer-bg;
  color: vars.$footer-text;
  text-align: center;
  padding: 2rem;

  p {
    margin: 0;
    font-size: vars.$font-size-base;
  }

  nav {
    margin-top: 1rem;

    a {
      color: vars.$footer-text;
      margin: 0 0.5rem;
      text-decoration: underline;

      &:hover {
        color: vars.$secondary-color;
      }
    }
  }
}
