@use '../../scss/variables.scss' as vars;

.gallery {
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
              url('/image46.webp') center/cover no-repeat;

  h2 {
    margin-bottom: 2rem;
    font-size: vars.$font-size-title;
    color: vars.$text-color-light;
  }

  .gallery-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 500px;
    grid-auto-flow: row dense;

    .gallery-item {
      cursor: pointer;

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: vars.$border-radius;
        transition: transform 0.3s;
      }

      &:hover img {
        transform: scale(1.05);
      }

      figcaption {
        text-align: center;
        margin-top: 0.5rem;
        font-size: vars.$font-size-subtitle;
        color: vars.$text-color-light;
      }
    }
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    img.lightbox-img {
      max-width: 90%;
      max-height: 80%;
      object-fit: contain; // mantiene proporciones
      border-radius: vars.$border-radius;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
    .prev, .next {
      position: absolute;
      top: 50%;
      font-size: 2rem;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      padding: 0 1rem;
    }

    .prev { left: 400px; }
    .next { right: 400px; }
  }
}
