@use '../../scss/variables.scss' as vars;

.pricing-section {
  padding: 3rem 1rem;
  color: vars.$text-color-dark;

  .pricing-header {
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
      color: vars.$text-color-dark;
    }
    p{
      font-size: 2rem;
      font-style: italic;
    }
  }

  .pricing-card {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;

    /* Badge rojo grande */
    .offer-badge {
      position: absolute;
      top: -20px;
      right: -20px;
      background: #10b40b;
      color: white;
      font-weight: bold;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .price {
      font-size: 1.5rem;
      margin-bottom: 1rem;

      .original-price {
        text-decoration: line-through;
        color: #888;
        margin-right: 0.5rem;
      }

      .discounted-price {
        font-weight: bold;
        color: #007bff;
      }
    }

    .countdown {
      margin-bottom: 1rem;
      font-weight: bold;
      color: #ff3e3e;
    }

    .btn-primary {
      background-color: vars.$primary-color;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
      border: none;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border-radius: vars.$border-radius;
      color: vars.$text-color-light;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: vars.$secondary-color;
        color: vars.$text-color-dark;
      }
    }
  }
}
